<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB Query Builder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>MongoDB Query Builder</h1>
    <form action="/query" method="POST">
        <label for="query_type">Seleziona la query:</label>
        <select name="query_type" id="query_type">
            <option value="count_tracks">Contare il numero di canzoni</option>
            <option value="count_album">Contare il numero di album</option>
            <option value="count_genres">Contare il numero di generi musicali</option>
            <option value="count_artists">Contare il numero di artisti</option>
            <option value="count_playlists">Contare il numero di playlist</option>
            <option value="songs_per_album">Contare il numero di canzoni per album</option>
            <option value="songs_per_genre">Contare il numero di canzoni per genere</option>
            <option value="songs_per_artist">Contare il numero di canzoni per artista</option>
            <option value="songs_per_playlist">Contare il numero di canzoni per playlist</option>
            <option value="artists_per_playlist">Contare il numero di artisti per playlist</option>
            <option value="albums_per_artist">Contare il numero di album per artista</option>
            <option value="playlist_per_songs">Contare quante playlist contengono una canzone</option>
        </select>
        <br>
        <button type="submit">Esegui query</button>
    </form>
</body>
</html>
